.opinionText {
  background-color: rgba(0, 0, 0, 0.1);
  color: whitesmoke;
  max-width: 50vw;
  min-width: 50vw;
  max-height: 150px;
  min-height: 150px;
  resize: none;
}

.opinionBear {
  position: relative;
  right: 24px;
  font-size: 24px;
  color: dodgerblue;
}

.validationMessage {
  font-size: 10px;
  color: darkturquoise;
}

.rate {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.singleBean {
  padding: 5px;
  margin: 5px;
  font-size: 24px;
  color: dodgerblue;
}
.singleBeanInactive {
  padding: 5px;
  margin: 5px;
  font-size: 24px;
  color: darkslategray;
}
